body {
    font-family: "Open Sans", sans-serif;
    /* color: #444444; */
}

/* header */
.navbar-brand {
    text-transform: uppercase;
    color: #5fcf80;
    font-size: 30px;
    font-weight: 400;
}

.navbar .navbar-nav .nav-item {
    font-size: 15px;
    font-weight: 500;
    color: #37423b;
}

.navbar .navbar-nav .nav-item .active {
    color: #5fcf80;
}

.navbar .navbar-nav .nav-item .nav-link {
    padding: 10px 20px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #5fcf80;
}

/* about */
.about {
    padding: 60px 0;
}

.about ul {
    list-style-type: none;
}

.about ul li {
    padding-bottom: 10px;

}

.about ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #5fcf80;
}

/* counts */
.counts {
    padding: 30px 0;
    background-color: #f6f7f6;
    text-align: center;
}

.counts span {
    font-size: 48px;
    display: block;
    color: #5fcf80;
    font-weight: 700;
}

.counts p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #37423b;
}

/* why-us */
.why-us {
    padding: 60px 0;
}

.why-us .content {
    padding: 30px;
    background: #5fcf80;
    border-radius: 4px;
    color: #fff;
}

.why-us .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}

.why-us p {
    margin-bottom: 30px;
}

.why-us .more-btn {
    text-decoration: none;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.why-us .more-btn:hover {
    color: #5fcf80;
    background: white;
}

.icon-box {
    text-align: center;
    background: #fff;
    padding: 40px 30px;
    border: 1px solid #eef0ef;
}

.icon-box i {
    font-size: 32px;
    padding: 18px;
    color: #5fcf80;
    margin-bottom: 30px;
    background: #ecf9f0;
    border-radius: 50px;
}
.icon-box h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom:30px;
}
.icon-box p{
    font-size: 15px;
    color: #848484;
}
/* features */
.features {
    padding: 60px 0;
}
.feature-box{
    display: flex;
    align-items: center;
    padding: 20px;
    transition: 0.3s;
    border: 1px solid #eef0ef;
    margin-bottom: 30PX;
}
.features .feature-box i{
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
}
.features .feature-box h3{
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
}
.features .feature-box h3 a{
    text-decoration: none;
    color: #37423b;
    transition: 0.3s;
}
.features .feature-box:hover{
    border-color: #5fcf80;
    color: #5fcf80;
}
.features .feature-box:hover a{
    color: #5fcf80;
}
/* popular-courses */
.popular-courses {
    padding: 60px 0;
}
.card-footer img{
    max-width: 50px;
    border-radius: 50px;
}
.popular-courses h4{
    font-size: 14px;
    background: #5fcf80;
    padding: 7px 14px;
    color: #fff;
    margin: 0;
}
.popular-courses .value{
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #37423b;
}
.popular-courses h3{
    font-weight: 700;
    font-size: 20px;
}
.popular-courses h3 a{
    text-decoration: none;
    color: #37423b;
    transition: 0.3s;
}
.popular-courses p{
    font-size: 14px;
    color: #777777;
}
/* trainer */
.trainer {
    padding: 60px 0;
}
.trainer .card{
    text-align: center;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #eef0ef;
}
.trainer .card .card-title{
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
}
.trainer .card .card-body span{
    font-style: italic;
    display: block;
    font-size: 13px;
}
.trainer .card .card-text{
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
}
.trainer .social{
    margin-top: 15px;
}
.social a{
    color: #7e9486;
    transition: 0.3s;
}
.social a i{
    font-size: 18px;
    margin: 0 2px;
}
.social a i:hover{
    color: #5fcf80;
}
/* footer */
.footer {
    padding: 60px 0;
}