
/* header */
.navbar-brand{
    text-transform: uppercase;
    color:#5fcf80;
    font-size: 30px;
    font-weight: 400;
}
.navbar .navbar-nav .nav-item{
    font-size: 15px;
    font-weight: 500;
    color: #37423b;
}
.navbar .navbar-nav .nav-item .active{
    color: #5fcf80;
}
.navbar .navbar-nav .nav-item .nav-link{
    padding:10px 20px;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: #5fcf80;
}
/* about */
.about{
    padding: 60px 0;
}
.about ul{
    list-style-type: none;
}
.about ul li{
    padding-bottom: 10px;

}
.about ul i{
    font-size: 20px;
    padding-right: 4px;
    color: #5fcf80;
}
/* counts */
.counts{
    padding: 60px 0;
}
/* why-us */
.why-us{
    padding: 60px 0;
}
/* features */
.features{
    padding: 60px 0;
}
/* popular-courses */
.popular-courses{
    padding: 60px 0;
}
/* trainer */
.trainer{
    padding: 60px 0;
}
/* footer */
.footer{
    padding: 60px 0;
}